# Python cache
__pycache__/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/

# macOS system files
.DS_Store

# Anaconda environments
conda_env/

# Log files
*.log

# IDE settings
.vscode/
.idea/
